.head{
    color: #3656FF;
    font-weight: 500;
}
.img{
  Width : 1540px;
  Height: 850px;
}
.foot{
  width: 100% !important;
}
.line{
  color: white;
  opacity: 1;
}
.sticky{
  position: sticky !important;
  top: 0;
}