*{
  margin: 0;
  padding: 0;
}
.head{
    color: #3656FF;
    font-weight: 700;
    font-size: 30px;
}
.head-item{
  font-size: 20px;
}
.img{
  Width : 1540px;
  Height: 850px;
}
.foot{
  width: 100% !important;
}
.line{
  color: white;
  opacity: 1;
}
.size{
  max-width: 100%;
}
.sticky{
  position: sticky !important;
  top: 0;
}
.logo{
  width: 40px;
  border-radius: 20%;
  margin: 5px;
}
.social{
  display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 100px;
    margin-top: 50%
    
}